.ytaf-ui-container {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;

  background: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 20px;
  padding: 20px;
  font-size: 1.5rem;
  z-index: 1000;
}

.ytaf-ui-container :focus {
  outline: 4px red solid;
}

.ytaf-ui-container h1 {
  margin: 0;
  margin-bottom: 0.5em;
  text-align: center;
}

.ytaf-ui-container input[type='checkbox'] {
  width: 2rem;
  height: 1.5rem;
}

.ytaf-ui-container label {
  display: block;
  font-size: 2rem;
}

.ytaf-notification-container {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 16pt;
  z-index: 1200;
}

.ytaf-notification-container .message {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 1em;
  margin: 0.5em;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  line-height: 1;
  border-right: 10px solid rgba(50, 255, 50, 0.3);
  display: inline-block;
  float: right;
}

.ytaf-notification-container .message-hidden {
  opacity: 0;
  margin: 0 0.5em;
  padding: 0 1em;
  line-height: 0;
}

.ytaf-sponsorblock-segment-container {
  top: 0%;
  height: 100%;
  width: 100%;
  pointer-events: none;
  position: absolute;
  overflow: hidden;
}

// Fix: progress bar w/ chapter markers uses a different layout
[idomkey='player-bar-renderer']
  :not([idomkey='slider'])
  .ytaf-sponsorblock-segment-container {
  top: 25%;
  height: 50%;
}

// Expand to overflow progress bar when focused
[idomkey='progress-bar'].zylon-focus .ytaf-sponsorblock-segment-container {
  top: -25%;
  height: 150%;
}

.ytaf-sponsorblock-segment {
  opacity: 0.7;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 9001px;
  display: inline-block;
}

// Allow overlay segments to overflow
[idomkey='slider'],
[idomkey='progress-bar'] {
  overflow: unset !important;
}
