name: Build & Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    continue-on-error: true

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-env
      - run: pnpm run "/^build|^lint:all/"
      - run: pnpm run package

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: youtube_adfree_ipk
          path: |
            ${{github.workspace}}/youtube.leanback.v4_*_all.ipk
