name: Build & Release

on:
  push:
    branches:
      - '!*'
    tags:
      - 'v*.*'

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-env

      - run: pnpm run build
      - run: pnpm run package
      - run: pnpm run manifest

      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          name: 'Release ${{ github.ref }}'
          prerelease: true
          draft: false
          allowUpdates: true
          omitNameDuringUpdate: true
          omitBodyDuringUpdate: true
          omitDraftDuringUpdate: true
          omitPrereleaseDuringUpdate: true
          artifacts: '*.ipk,*.manifest.json'
